<?xml version="1.0"?>
<launch>

    <arg name="base_frame" default="base" />

    <arg name="publish_odom_tf" default="true"/>

    <node pkg="a1_pose" type="a1_joint_states.py" name="a1_joint_states_node" output="screen" />

    <!-- ==================== STATE ESTIMATION ==================== -->
    <node pkg="champ_base" name="state_estimator" type="state_estimation_node" output="screen">
        <param name="orientation_from_imu" value="true"/>
        <param name="use_robot_pose" value="true"/>
        <param name="use_robot_velocity" value="true"/>
        <param name="publish_tf" value="true"/>
        <remap from="/imu/data" to="/imu_out/data"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="trunk_to_dummy_imu" args="0 0 -0.3 0 0 0 trunk imu_link_dummy 100" />

    <!-- imu transform -->
    <node pkg="imu_transformer" type="imu_transformer_node" name="imu_transformer_node" output="screen">
        <remap from="imu_in/data" to="imu_raw"/>
        <param name="target_frame" value="imu_link_dummy"/>
    </node>


    <node pkg="robot_localization" type="ekf_localization_node" name="footprint_to_odom_ekf">
        <remap from="odometry/filtered" to="odom" />
        <rosparam command="load" file="$(find a1_pose)/config/ekf/footprint_to_odom.yaml" />
        <param name="publish_tf" value="$(arg publish_odom_tf)"/>
        <param name="imu0" value="/imu_out/data"/>
    </node>

</launch>
